* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-primary:#0f1824;
    --color-accent: #fbacbe ;
    --color-bg: #FBEFF1;
    font-family: 'Montserrat', sans-serif;
}

button {
   background: none;
   color: inherit;
   border: none;
   padding: 0;
   font: inherit;
   cursor: pointer;
   outline: inherit;
}

/* img {
    max-height:5rem;
    max-width: 3rem;
    
} */

.container {
    
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 4fr;
    height: 100vh;
    grid-template-areas:
     "  sidebar   header   "
     "  sidebar   main-content    "

}

.sidebar {
    background-color: var(--color-primary);
    grid-area: sidebar;
    display: grid;
    grid-template-columns: 1fr;
}

.header {
  background-color: var(--color-bg);
  grid-area: header;
  display: grid;
  

}

.header-search {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    padding-top: 0.5rem;
    padding-left: 2rem;
    font-size: 1.3rem;
    
    
}

.header-search input {
  width: 80%;
  height: 50%;
  padding: 0 1rem;
  border: 1px solid #ccc;
  border-radius: 1rem;
  
  
}

.header-avatar-right{
    font-weight: 600;
    font-size: 1rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    padding-right: 2rem;
    padding-top: 0.5rem;
}

.header-avatar-right img, 
.header-avatar-right button {
    height: 2.5rem;
    width: auto;
    font-size: 1.3rem;
}

.main-content {
    background-color: #f0f0f0;
    grid-row: 2 / 3;
}

.header-actions{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: flex;
    gap: 17px;
    justify-content: flex-end;
    align-self: center;
    padding-right: 2rem;
    
    
}

.header-actions button {
    background-color: var(--color-primary);
    color: white;
    border-radius: 16px;
    padding: .3rem 1rem;
    
}

.header-user {
    grid-row: 2 / 3;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    padding-left: 2rem;
    
}

.header-user img{
    width: 6rem;
}

p.hi { font-weight: 600;}

p.name {   font-size: 1.7rem;   font-weight: 600;}

